.top-container{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border:solid black 10px;
    padding: 20px;
    margin: 0;



    /* border-color: black; */
    /* border: solid black;
    border: 10px;
    padding: 10px; */
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 0 0 0 260px;
    border: solid black 20px;
}

.bottom-container{
    background-color: yellow;
    height: 200px;
    width: 200px;
    margin: 0 0 0 500px;
    border: solid black 10px;
}